@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.question {
    border: 0.25rem solid tan;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    background-color: lemonchiffon;
    padding: 1rem;
    margin: 1rem;
}

.questionText {
    border-bottom: dotted 6px tan;
}

.answer {
    margin-top: 0.5rem;
}

.result {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.failed {
    color: #6E85B7;
}

.successful {
    color: #B33030;
}

.answerButton {
    margin-left: 1em;
    border: 2px solid tan;
    border-radius: 25px;
    background-color: tan;
    line-height: 1.5;
}

.answerTextBox {
    border: 2px solid tan;
    border-radius: 25px;
    background-color: #f7f7f7;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}

#reset-button {
    color: dimgray;
    font-weight: bold;
    font-size: 2em;
    border: 2px solid tan;
    border-radius: 50px;
    background-color: tan;
    line-height: 1.5;
    padding: 0.5rem;
}
